{% extends "base.html" %}
{% load staticfiles %}

{% block title %}

资料共享

{% endblock %}

{% block content %}

<link rel = "stylesheet" href = "{% static 'css/documentssharing.css' %}">

<div class = "container-fluids">
    <img class = "img-responsive " src = "{% static 'img/documentssharing_pic.png' %}" style = "max-width: 100%;">
</div>

<div class = "container">
    <div class = "row">
        <div class = "page-header">
            <h1 class = "documentssharing-page-header"> 资料共享 </h1>
        </div>
        <div class = "row">
            {% for docs in docList %}
                <div class = "col-md-4 col-sm-6">
                    <div class = "thumbnail">
                        <img src = "{{docs.photo.url}}">
                        <h4> <a href = "{% url 'documentssharing:getDoc' docs.id %}"> {{docs.title}} </a> <small> {{docs.publishDate}} </small> </h4å>
                    </div>
                </div>
            {% endfor %}
            
            {% if pageData %}
                <div class = "paging">
                    <ul id = "pages" class = "pagination pagination-sm pagination-xs">
                        {% if pageData.first %}
                            <li> <a href = "?page=1"> 1 </a> </li>
                        {% endif %}
                        {% if pageData.left %}
                            {% if pageData.left_has_more %}
                            <li> <span> ... </span> </li>
                            {% endif %}
                            {% for i in pageData.left %}
                                <li> <a href = "?page={{i}}"> {{i}} </a> </li>
                            {% endfor %}
                        {% endif %}
                        <li class = "active"> <a href = "?page = {{pageData.page}}"> {{pageData.page}} </a> </li>
                        {% if pageData.right %}
                            {% for i in pageData.right %}
                                <li> <a href = "?page={{i}}"> {{i}} </a> </li>
                            {% endfor %}
                            {% if pageData.right_has_more %}
                                <li> <span> ... </span> </li>
                            {% endif %}
                        {% endif %}
                        {% if pageData.last %}
                            <li> <a href = "?page = {{pageData.total_pages}}"> {{pageData.total_pages}} </a> </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}