{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

我们的老师

{% endblock %}

{% block content %}

<link rel = "stylesheet" href = "{% static 'css/teacher.css' %}">

<img class = "img-responsive" src = "{% static 'img/groupphoto1.png' %}">

<div class = "container-fluid">
    <div class = "col-md-3">
        <div class = "side_bar_title">
            关于我们
        </div>
        <div class = "side_bar_list">
            <ul class = "list-group">
                <li class = "list-group-item"> <a href = "{% url 'about:classes' %}"> 班级 </a> </li>
            </ul>
            <ul class = "list-group">
                <li class = "list-group-item"> <a href = "{% url 'about:student' %}"> 学生 </a> </li>
            </ul>
            <ul class = "list-group">
                <li class = "list-group-item"> <a href = "{% url 'about:teacher' %}"> 教师 </a> </li>
            </ul>
        </div>
    </div>
    <div class = "col-md-9">
        <div>
            <div class = "row">
                <div class = "col-md-1"> </div>
                <div class = "col-md-5"> <img class = "img-responsive" src = "{% static 'img/teacher_1.jpg' %}" style = "margin-top: 30px;"> </div>
                <div class = "col-md-5"> <img class = "img-responsive" src = "{% static 'img/classes_8.jpg' %}" style = "margin-top: 30px;"> </div>
                <div class = "col-md-1"> </div>
            </div>
        </div>
        
        <div>
            <h3> 涂思平 <span class = "label label-default"> 主任导师&语文老师 </span> </h3>
            <p> 
                <ul>
                    <li> 中国现当代文学硕士，研究生期间曾多次参加国内学术研讨； </li>
                    <li> 做过一年记者，采访过流沙河、董桥等文化名人，多次赴港做教育专访； </li>
                    <li> 在成都公立省重及成都私立名校有9年的任教经验，带过四届毕业生，常年带高中实验班，成绩优异； </li>
                    <li> 曾是成都市首批名师工作室成员，两个市级课题的主研人员；</li>
                    <li> 获得省市区级荣誉、赛课、论文比赛等奖励十余次在国家级刊物上发表了四篇论文；</li>
                    <li> 擅长写作辅导，曾辅导学生多次在各级作文比赛中获一等奖，2018年指导学生在全球创新研究大赛（China Thinks Big）中的论文课题获全国银奖。 </li>
                </ul>
            </p>
            <h3> 宋春龙 <span class = "label label-default"> 数学老师 </span> </h3>
            <p>
                <ul>
                    <li> 爱好：读书，思考。 </li>
                    <li> 特长：数学建模，科研，科创 </li>
                    <li> 成都市教学成果：2021年成都市教育成果三等奖 </li>
                    <li> 主研：市级小课题《基于六年一贯制的中学数学建模与探究课程的实践研究》，2021年3月获得市一等奖 项目编号：cdsjxkt2020-1001；市级课题《基于核心素养下初中数学“综合与实践”课程的实施策略研究》立项编号：CY2019ZM16 </li>
                    <li> 论文发表：《一道圆锥曲线竟赛试题引发的迁移和思考》 2018年7月发表于《数学通讯》第7期下旬刊独著；《一道圆锥曲线竞赛试题的探究和思考》2018年9月发表于《数学通讯》第9期下旬刊独著；《核心问题教学中发展学生核心素养》2018年3月发表于《天府数学》第36期合著；《初中数学建模课程实施方案研究》2020年发表于《中小学数学（初中版）》7、8月中旬刊 </li>
                </ul>
            </p>
            <h3> 刘艳艳 <span class = "label label-default"> 英语老师 </span> </h3>
            <p> 华东师范大学外国语言文学硕士毕业，教龄11年，曾在江西省重点中学（南昌一中）和成都七中八一学校承担高中英语学科教学。曾担任英语备课组长，文科班班主任。每年有参加区级以上的赛课或者展示课曾获全国教学二等奖，成都市教学一等奖，多次获区级赛课一等奖。论文曾获成都市一、二等奖。 </p>
            <h3> 曾帆 <span class = "label label-default"> 物理老师 </span> </h3>
            <p>
                <ul>
                    <li> 2011年毕业于华东师范大学物理系。 </li>
                    <li> 从教11年，担任某省重点高中班主任，备课组长。 </li>
                    <li> “华夏杯”物理教学技能大赛全国一等奖，武侯区物理课堂教学优质课大赛一等奖，武侯区“以赛代培”赛课一等奖。 </li>
                    <li> 论文《分析DIS实验在高中物理教学中的优化》获一等奖，《知识一一既是目的，又是手段》在《时代教育》发表承担成都市重点课题《基于“深度学习”的教材解读与物理高效课堂构建》活动中做高一物理《速度变化快慢的描述————加速度》一节教学解读。 </li>
                </ul>
            </p>
            <h3> 张力元 <span class = "label label-default"> 化学老师 </span> </h3>
            <p>
                <ul>
                    <li> 四川省中学化学优秀实验教学成果展评一等奖。 </li>
                    <li> 四川省教育科学研究院专题教学展示课。 </li>
                    <li> 四川省教育科学研究院《课标解读》专题讲座 </li>
                    <li> 成都市优秀实验展评一等奖。 </li>
                    <li> 所带班级化学成绩重点率90%以上。 </li>
                    <li> 《万维试题研究》编者。 </li>
                    <li> 四川省教育学会课题《基于化学思维型课堂发展科学思维的实践研究》主研人员。 </li>
                    <li> 四川省招生考试报发表“专题讲解”、“方法归纳”等多篇文章成都市中学优秀论文二等奖。 </li>
                </ul>
            </p>
            <h3> 刘会宝 <span class = "label label-default"> 政治老师 </span> </h3>
            <p> 天府七中副校长，法学硕士，中学政治高级教师，清华大学教育博士（在读），四川师范大学硕士研究生导师，成都市骨干教师，成都市教育科研先进个人、成都市高中政治教师研培专家组成员，成都市教育局高中“微师培”项目主研，天府新区教育系统优秀共产党员，原成都七中（林荫校区）人文实验班班主任，高三政治备课组长，成都七中东方闻道网校直播教师，全国中学生财经索养大赛教练。曾获全国高中“聚焦课堂”教学评比一等奖，全国高中政治优质课评比一等奖，匹川省高中政治优质课评比一等奖第一名，成都市高中政治优质课评比第一名，成都市高三政治优质课评比一等奖，成都市中小学心理班会课一等奖。所带班级高考成绩均名列全年级第一，学科成绩在成都市同类学校名列第一，所带学生有40余人考入清华大学、北京大学、上海交通大学、香港中文大学、加拿大麦吉尔等国内外著名大学。开发成都七中“林荫书声阅读课程”，“高中财经素养课程”，策划设计的课程嘉年华、项目学习周研学课程，受到媒体关注并报道，指导12名学生获全国高中生财经素养大赛特等奖、一等奖。参与研究成都七中《高中阶段创新人才基础培养课程的构建和实施》、主持天府新区《基于职初教师主体性发展的师培校本课程建设研究》等6项课题并获奖。在《中国教育学刊》、《探索与争鸣》、文获省市奖。《中南大学学报》、《思想政治课教学》等中文核心期刊发表文章12篇，多篇德育和教学论主编《高中思想政治教学改革创新与实践》，参与国家级实验教学中心师范生教学能力实训系列教材《高中思想政治新课程教材解读与教学》、国民金融教育系列教材《企业与梦想》、四川省精神文明办主持的《中国精神一伟大的抗震救灾精神学习读本》，成都市教育局主持的《成都市中小学廉政文化进校园工作指南》等教材的编写。 </p>
            <h3> 李思蓓 <span class = "label label-default"> 历史老师 </span> </h3>
            <ul>
                <li> 第9届全国中小学创新教学课堂实践大赛全国一等奖。 </li>
                <li> 四川省“一师一优课，一课一名师”市一等奖、省一等奖。 </li>
                <li> 四川省普教科研重点课题公开展示《盛唐春日游园会》主讲。 </li>
                <li> 四川省课题《基于标准的初中历史大单元教学实践研究》市一等奖参研。 </li>
                <li> 四川省教科院课堂教学与研究讲座《基于大胆元的项目式学习》主讲 </li>
                <li> 成都市课题《疫情时政与历史线上教学的深度融合研究》市二等奖 </li>
                <li> 成都市第37届青少年科技创新大赛优秀指导教师 </li>
            </ul> 
        </div>
    </div>
</div>

{% endblock %}