{% extends "base.html" %}
{% load staticfiles %}

{% block title %}

班级活动

{% endblock %}

{% block content %}

<link rel = "stylesheet" href = "{% static 'css/activities.css' %}">

<div class = "container-fluid">
    <div class="jumbotron">
        <h1> 班级活动 </h1>
        <p> 了解我们的最佳途径，就是仔细阅读下面的所有文字 </p>
    </div>
    <div class = "row">
        {% for Activity in activityList %}
            <div class = "col-sm-6 col-md-4">
                <div class = "thumbnail">
                    <img src = "{{Activity.photo.url}}">
                    <div class = "caption">
                        <h3> {{Activity.title}} <small> {{Activity.publishDate}} </small> </h3>
                        <p> {{Activity.abstract}} </p>
                        <p> <a href = "{% url 'activities:activityDetail' Activity.id %}" class = "btn btn-primary" role = "button"> 查看详情 </a> </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if pageData %}
            <div class = "paging">
                <ul id = "pages" class = "pagination pagination-sm pagination-xs">
                    {% if pageData.first %}
                        <li> <a href = "?page=1"> 1 </a> </li>
                    {% endif %}
                    {% if pageData.left %}
                        {% if pageData.left_has_more %}
                        <li> <span> ... </span> </li>
                        {% endif %}
                        {% for i in pageData.left %}
                            <li> <a href = "?page={{i}}"> {{i}} </a> </li>
                        {% endfor %}
                    {% endif %}
                    <li class = "active"> <a href = "?page = {{pageData.page}}"> {{pageData.page}} </a> </li>
                    {% if pageData.right %}
                        {% for i in pageData.right %}
                            <li> <a href = "?page={{i}}"> {{i}} </a> </li>
                        {% endfor %}
                        {% if pageData.right_has_more %}
                            <li> <span> ... </span> </li>
                        {% endif %}
                    {% endif %}
                    {% if pageData.last %}
                        <li> <a href = "?page = {{pageData.total_pages}}"> {{pageData.total_pages}} </a> </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
